local/
*.so
*.i
*.ii
*.gpu
*.ptx
*.cubin
*.fatbin
*.txt
*.d
*.ncu-rep
__pycache__/
*/printouts/*
.vscode/
.clangd
*.out
# Installation artifacts
*.deb
# Test binaries
tests/simple_test
tests/unit/unit_tests
tests/unit/build/
